* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: #f5f4f4;
}

body,
html {
  height: 100%;
  background: url("/content.png") no-repeat center;
  background-size: cover;
  min-width: 1280px;
}

.page-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  display: none;
}

.app-shell {
  width: 80%;
  height: 1200px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  color: #fff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 48px;
  width: 192px;
}

.app-header__search {
  position: relative;
  display: flex;
  align-items: center;
  width: 50%;
}

.app-header__search-label {
  display: none;
}

.app-header__search-input {
  width: 100%;
  border: none;
  padding: 12px 16px;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  color: #202020;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  border-radius: 8px;
}

.app-header__search-input::placeholder {
  color: #707070;
  opacity: 70%;
}

.search-icon {
  position: absolute;
  right: 10px;
  width: 18px;
  height: 18px;
  pointer-events: none;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.weather-current {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.weather-current__title {
  font-size: 32px;
  margin-bottom: 1rem;
}

.weather-current__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-current__city {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.weather-current__date,
.weather-current__time {
  font-size: 20px;
  opacity: 0.7;
}

.weather-current__temp {
  font-size: 112px;
  font-weight: bold;
  margin: 2rem 0;
}

.weather-current__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  position: relative;
}

.weather-current__details img {
  width: 24px;
  height: 24px;
  margin-bottom: 8px;
}

.weather-current__desc,
.weather-current__feels {
  opacity: 0.7;
}

/* Список городов */
.weather-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-list__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

/* Адаптивность для экранов <1280px */
@media (max-width: 1279px) {
  body {
    min-width: 100%;
  }
  .app-shell {
    width: 95%;
    padding: 1rem;
  }
  .weather-list__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
