* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    color: #F5F4F4;
}

body,
html {
    height: 100%;
}

.page-bg {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100vh;
    width: 1280px;
    min-width: 1280px;
    background-image: url("content.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.app-shell {
    width: 80%;
    height: 120%;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    color: #fff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 48px;
    width: 192px;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
}

.search input {
    width: 100%;
    border: none;
    padding: 12px 16px;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    color: #202020;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    border-radius: 8px;
}

.search input::placeholder {
    color: #707070;
    opacity: 70%;
}

.search img {
    position: absolute;
    right: 10px;
    height: 18px;
    width: 18px;
    pointer-events: none;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.city {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 8px;
}

.date, .time{
    font-size: 20px;
}

.temperature {
    font-weight: bold;
    font-size: 112px;
    margin-top: 64px;
    margin-bottom: 64px;
}

.more-temperature {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-size: 20px;
}

.more-temperature img {
    position: absolute;
    right: 140px;
    width: 24px;
    height: 24px;
}


.right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.blocks {
    width: 158px;
    height: 196px;
    border: none;
    padding: 5px;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    color: #202020;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    font-size: 10px;
    border-radius: 3px;
}