<div class="meteo-cards">
  <div class="card">
    <div class="card-head">
      <div class="card-title">Влажность</div>
      <img
        class="card-icon"
        src="../components/data_display/weather-icons/humidity.svg"
        alt="humidity"
        height="32"
        width="32"
      />
    </div>
    <div class="card-body">
      <div class="card-value">75 %</div>
      <div class="card-progress">
        <div class="progress-track">
          <div class="progress-fill" style="width: 75%"></div>
        </div>
        <div class="progress-label"><span>0%</span><span>100%</span></div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-head">
      <div class="card-title">Давление</div>
      <img
        class="card-icon"
        src="../components/data_display/weather-icons/barometr.svg"
        alt="barometr"
        height="32"
        width="32"
      />
    </div>
    <div class="card-body">
      <div class="card-value">761</div>
      <div class="card-progress">
        <div class="progress-track">
          <div class="progress-fill" style="width: 60%"></div>
        </div>
        <div class="progress-label">Повышенное</div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-head">
      <div class="card-title">Видимость</div>
      <img
        class="card-icon"
        src="../components/data_display/weather-icons/visibility.svg"
        alt="visibility"
        height="32"
        width="32"
      />
    </div>
    <div class="card-body">
      <div class="card-value">28 км</div>
      <div class="card-progress">
        <div class="progress-track">
          <div class="progress-fill" style="width: 85%"></div>
        </div>
        <div class="progress-label">Нормальная</div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-head">
      <div class="card-title">Рассвет</div>
      <img
        class="card-icon"
        src="../components/data_display/weather-icons/sunrise.svg"
        alt="sunrise"
        height="32"
        width="32"
      />
    </div>
    <div class="card-body">
      <div class="card-value">
        <time class="value" datetime="7:42">7:42</time>
      </div>
      <div class="card-sub">Прошло 02:47</div>
    </div>
  </div>

  <div class="card">
    <div class="card-head">
      <div class="card-title">Закат</div>
      <img
        class="card-icon"
        src="../components/data_display/weather-icons/sunset.svg"
        alt="sunset"
        height="32"
        width="32"
      />
    </div>
    <div class="card-body">
      <div class="card-value">
        <time class="value" datetime="16:37">16:37</time>
      </div>
      <div class="card-sub">Осталось 05:08</div>
    </div>
  </div>

  <div class="card">
    <div class="card-head">
      <div class="card-title">Сила ветра</div>
      <img
        class="card-icon"
        src="../components/data_display/weather-icons/northwest-wind.svg"
        alt="wind"
        height="32"
        width="32"
      />
    </div>
    <div class="card-body">
      <div class="card-value">2 м/с</div>
      <div class="card-sub">Северо-западный</div>
    </div>
  </div>
</div>
